{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <h1>Mon Compte</h1>
    <div class="d-flex justify-content-center">
        <h3>Hello {{ app.user.email }}</h3>
    </div>
{% endblock %}

