<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: #F76C6C;
        }
        h1 {
            color: #79caca;
        }
    </style>
</head>
<body>
<h1>Une nouvelle série vient d'être publiée sur Wild Séries !</h1>
<p>{{ program.title }} est en ligne !</p>
<a href="http://127.0.0.1:8000/program/{{ program.slug }}">Voir la série</a>
</body>
</html>