{% extends  'base.html.twig' %}

{% block title %}Add me Baby{% endblock %}

{% block body %}
    <h4>Ajoute une catégorie </h4><br>
    <div class="container">
    {{ form_start(form) }}
        {{ form_row(form.name, {'label' : 'Nom de la catégorie :', 'attr' : {'placeholder' : 'Hello', 'class' : 'mt-5'}})}}
    <button class="btn btn-primary">OK</button>
    {{ form_end(form)}}
    </div>

{% endblock %}