@import "~bootstrap/scss/bootstrap";
@import "variables.scss";
@import "font";

body {
  background-color: $mainColor;
}

.navbar-light .navbar-brand {
  color: #79CACA;
  height: 4rem;
}

.navbar-light .navbar-nav .nav-link.active {
  color: $mainColor;
}




